{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "trailingComma": "none",
    "arrowParents": "avoid",
    "tabWidth": 4
}
